@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: cover;
}

body.light-mode {
  background-image: url("/pattern-randomized-light.svg");
  color: #000;
  transition: background-image 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-image: url("/pattern-randomized-dark.svg");
  color: #fff;
  transition: background-image 0.3s ease, color 0.3s ease;
}

body.light-mode header > h1 {
  color: rgb(31, 41, 55);
  transition: color 0.3s ease;
}

body.dark-mode header > h1 {
  color: rgb(229, 231, 235);
  transition: color 0.3s ease;
}

body.light-mode .form-container {
  background-color: rgb(244, 244, 245);
  transition: background-color 0.3s ease;
}

body.dark-mode .form-container {
  background-color: rgb(63, 63, 70);
  transition: background-color 0.3s ease;
}

body.light-mode .load-btn {
  background-color: rgb(243, 244, 246);
  transition: background-color 0.3s ease;
}

body.dark-mode .load-btn {
  background-color: rgb(55, 65, 81);
  transition: background-color 0.3s ease;
}

#load-btn:hover {
  background-color: rgb(249, 115, 22);
}

input:checked + .slider {
  background-color: rgb(249, 115, 22);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider:after {
  content: "🌙";
  transform: translateX(26px);
}

.image-container img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

.download-btn {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-btn:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.image-container:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}

.top-button--icon {
  animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.8rem);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("/pattern-randomized-dark.svg");
  }
}

@media (max-width: 768px) {
  #load-btn {
    border-color: rgb(249, 115, 22);
    background-color: rgb(249, 115, 22);
    color: #fff;
  }
}
